.Register {
    width: 600px;
}
#volunteer-services {
    padding: 15px;
    border: 1px solid #666;
    background: #fff;
  }

.card {
    background-color: #fff;
}
// .wrap-event-user{
//     display: flex;
//     flex-direction: row;
// }
// .wrap-event-user {
//     background-image: url('../../Images/communtiy2.jpg');
//     opacity: 0.9;
// }
.our-events {
    text-align: center;
    color: #000;
}