.Register {
    width: 600px;
}
#volunteer-services {
    padding: 15px;
    border: 1px solid #666;
    background: #fff;
    display: none;
  }
body { 
    background-color: rgb(116, 197, 116);
}
.card {
    background-color: #fff;
}